// FONT-FAMILY
$FontFamily: 'Montserrat', sans-serif;

// SPACEMENT
$PaddingSection: 7% 15%;
$LineHeigth: 1.5;

// COLOR
$WhiteColor: #fff;
$RedColor: #ff4c68;
$GrayColor: #8f8f8f;
$OrangeColor: #ef8172;
