@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Ubuntu:wght@700&display=swap');

@import 'var';

body {
  font-family: $FontFamily;
}

#title {
  background-color: $RedColor;
  color: $WhiteColor;

  .container-fluid {
    padding: 3% 15% 7%;
  }

  h1 {
    font-family: $FontFamily;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }

  img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }

  button {
    margin: 5% 3% 5% 0;
  }
}

// Navigation bar
.navbar {
  padding: 0 0 4rem;

  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
  }

  .nav-item {
    padding: 0 18px;
  }

  .nav-link {
    font-family: $FontFamily;
    font-weight: 500;
    font-size: 1.2rem;
    color: #ebe7e7 !important;

    &:hover {
      color: $WhiteColor !important;
    }
  }
}

#features {
  background-color: $WhiteColor;
  padding: $PaddingSection;
  text-align: center;
  position: relative;
  z-index: 1;

  .box {
    padding: 5%;
  }

  .fa-4x {
    color: $OrangeColor;
    margin-bottom: 1rem;

    &:hover {
      transition: 0.5s;
      color: $RedColor;
    }
  }

  h3 {
    font-family: $FontFamily;
    font-weight: 900;
    font-size: 1.5rem;
  }

  p {
    color: $GrayColor;
  }
}

#testimonials {
  text-align: center;
  background-color: $OrangeColor;
  color: $WhiteColor;

  .carousel-item {
    padding: $PaddingSection;
  }

  h2 {
    font-family: $FontFamily;
    font-weight: 900;
    font-size: 3rem;
    line-height: $LineHeigth;
  }

  img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
}

#press {
  background-color: $OrangeColor;
  text-align: center;
  padding-bottom: 3%;

  img {
    width: 15%;
    margin: 20px 20px 50px;
  }
}

#pricing {
  padding: $PaddingSection;
  text-align: center;

  h2 {
    font-family: $FontFamily;
    font-size: 3rem;
    font-weight: 900;
    line-height: $LineHeigth;
  }

  .row {
    margin-top: 3rem;

    .card:hover {
      transition: 0.5s;
      transform: translateY(-15px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    button {
      margin: 0 1rem 1rem;
    }
  }
}

#cta {
  background-color: $RedColor;
  padding: $PaddingSection;
  text-align: center;

  h3 {
    font-family: $FontFamily;
    font-weight: 900;
    font-size: 3rem;
    color: $WhiteColor;
    line-height: $LineHeigth;
  }

  button {
    margin: 5% 3% 5% 0;
  }
}

#footer {
  background-color: $WhiteColor;
  padding: $PaddingSection;
  text-align: center;

  i {
    margin: 2% 1%;
    cursor: pointer;
  }

  p {
    color: $GrayColor;
  }
}

.top a {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  margin: 7.5rem 17rem 0 0;

  &:hover {
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transform: translateY(-15px);
  }
}

@media (max-width: 992px) {
  #title {
    text-align: center;

    img {
      position: static;
      transform: rotate(0);
      width: 50%;
    }
  }
}
